#root{
  height: fit-content;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Beginning of CSS code */
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: calc(100%);
  min-height: calc(100vh);
  position: relative;
}
input {
  transition: border ease-in-out .5s;
  transition: outline ease-in-out .5s;
}
input[type=text]:focus{
  border: none;
  outline: .2px solid rgba(250, 131, 79, 1);
}
.hidden {
  display: none;
}
/*** Beginning of CSS code for Navigation Bar  */
nav{
  height: 5em;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255,1);
  height: 3em;
  padding: 1em;
  z-index: 10;
  border: 0;
  border-bottom: .5px solid rgba(0, 0, 0, .2);
  box-shadow: .2px .2px 6px;
  /* display: none; */
} 
.app-name {
  flex: 3.5;
  text-align: left;
  font-size: 1.5em;
  padding: .2em 0;
}
.app-name > a {
  color: black;
  text-decoration: none;
}

.navbar-right {
  flex: 1.5;
  display: flex;
  justify-content: space-between;
  padding: .2em 0;
}
.navbar-icon {
  padding: .5em 0;
}

.navbar-line-1, .navbar-line-2, .navbar-line-3 {
  width: 2em;
  height: .2em;
  background-color: rgb(0,0,0);
  background-color: rgb(92,92,92);
  margin: .3em 0;
  border-radius: 8px;
  transition: all 1s ease-out;
}

.navbar-line-1 { 
  transform: none;
  /* animation: navbarline1; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.navbar-line-3 {
  /* animation: navbarline3; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes navbarline1_open {
  from {
    transform: none;
  }
  to {
    transform: rotate(45deg) translate(.5em, .3em);
  }
  
}
@keyframes navbarline3_open {
  from {
    transform: none;
  }
  to {
    transform: rotate(-45deg) translate(.1em, .2em);
  }
  
}
.navbar-icon {
  width: 1.8em;
  height: 1.8em;
}
.cart-icon-container {
  position: relative;
}
#cart-no {
  position: absolute;
  top: 0;
  right: -1.2em;
  background-color: rgba(225, 95, 38, 1);
  padding: .4em;
  border-radius: 50%;
  font-size: .6em;
  color: white;
  text-align: center;
  border: 2px solid white;
}
.navbar-search-tab {
  width: 90vw;
  z-index: 1;
  position: fixed;
  top: 5.5em;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255,1);
  /* background-color: rgb(242,242,242); */
  height: 3em;
  padding: .5em;
  margin: 0 auto;
  display: flex;
  border: .2px solid rgba(0, 0, 0, .4);
  border-radius: 10px;
}

.search-tab {
  flex: 5;
  height: 92%;
  font-size: 1em;
  padding: 0 .5em;
  background-color: rgb(242,242,242);
  border: none;
}
#search-tab:focus {
  outline: none;
}
#cancel {
  flex: 1;
  height: 100%;
  background-color: rgba(255, 255, 255,1);
  border: none;
}
/*** End of CSS code for Navigation Bar  */

/*** Beginning of CSS code for Side Bar  */

.sidebar-section {
  z-index: 1;
  background-color: rgb(235, 194, 175);
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: calc(100% - 5em);
  height: 100%;
  position: relative;
  left: 0;
  /* padding-bottom: 9em; */
  display: none;
  display: block;
}
.sidebar-main-options {
  width: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  /* display: none; */
}
.sidebar-options {
  /* padding: 2em 0; */
  display: none;
  display: flex;
  flex-direction: column;
}
.options {
  /* height: 2em; */
  padding: 1em;
  font-size: 1.2em;
  border: 1px solid rgba(233, 138, 96, .5);
  /* border: .5px solid rgba(152, 105, 96, 1); */
  border-left: 0;
  border-right: 0;
  flex: 1;
}
.options > a, .sidebar-title > a {
  text-decoration: none;
  color: black;
}
.account-section {
  height: 4em;
}
.signup {
  width: 100%;
  height: 80%;
  background-color: rgba(225, 225, 225, 0);
  border: 1px solid rgba(225, 95, 38, 1);
  color: rgba(250, 131, 79, 1);
  /* color: rgba(0, 0, 0, .7); */
  font-size: .8em;
  font-weight: bold;
}
.login {
  font-size: .7em;
  padding: .3em 0;
  color: rgba(0, 0, 0, .7);
}
.login > a {
  color:rgba(250, 131, 79, .6) ;
}
.sidebar-products-container {
  display: flex;
  flex-direction: column;
}
.sidebar-products {
  display: flex;
}
.sidebar-title {
  flex: 6;
}
.sidebar-show-more-icon {
  flex: 1;
  display: flex;
  padding: .5em;
}
.sidebar-show-more-line-1, .sidebar-show-more-line-2 {
  width: .15em;
  height: .8em;
  background-color: black;
  border-radius: 14px;
  margin: 0 .2em;
  transition: all .5s ease-in;
}
.sidebar-show-more-line-1 {
  transform: rotate(-45deg);
  /* animation: showmore1 1.5s 1; */
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.sidebar-show-more-line-2 {
  transform: rotate(45deg);
  /* animation: showmore2 1.5s 1; */
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes showmore1 {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes showmore2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
.sub-products {
  display: flex;
  padding: 1em ;
  margin: .5em 0;
  font-size: .8em;
  border: 1px solid rgba(233, 138, 96, .5);
  /* border: .5px solid rgba(152, 105, 96, 1); */
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* display: none; */
  transition: all .5s;
}
.sidebar-products-title {
  flex: 9;
}

.sidebar-products-option {
  transition: height 1.5s;
  display: block;
  /* display: none; */
}
.sidebar-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.sidebar-profile .username {
  font-size: 1.2em;
  font-weight: 500;
}
.sidebar-profile .user-email {
  font-size: .8em;
}
.sidebar-profile > img {
  background-color: gray;
  background-color: rgba(250, 131, 79, .6);
  padding: 1.5em;
  border-radius: 50%;
  flex: 1;
  max-width: 10%;
}
.sidebar-profile > div {
  flex: 8;
  max-width: 75%;
}
/*** End of CSS code for side bar  */

/*** Beginning of CSS code for Card  */
.card-container {
  width: 100%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

}
.card-container:hover{
  width: 105%;
  border: .2px solid rgba(0, 0, 0, .05);
  box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
  z-index: 1;
}
.card-img {
  height: 60%;
  margin: 0 auto;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 1);
  height: 35%;
  padding: 0 .5em;
}
.card-title{
  font-size: .9em;
  flex: 2;
  text-align: center;
}
.card-price {
  font-size: .7em;
  flex: .5;
  font-weight: bolder;
}
.card-add-btn {
  padding: .2em 1.5em;
  font-size: .7em;
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(224, 209, 209);
  transition: all .2s linear;
}
.card-add-btn:hover {
  width: 9em;
  font-size: .9em;
  background-color: rgba(250, 131, 79, .5);
}
/*** End of CSS code for Card  */

/*** Beginning of CSS code for Page Sections  */
.page-container{
  width: 100%;
}
.page-section {
  width: 100%;
  margin: .8em auto;
  display: flex;
  flex-direction: column;
}
.page-section.best {
  height: 25em;
}
::-webkit-scrollbar{
  appearance: none;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: rgba(97, 97, 97, .2);
}
.page-section.best > div {
  max-width: 22em;
  margin-top: 1em;
  height: 19em;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.page-section.best > p:first-child{
  font-size: 1.2em;
  font-weight: 600;
}
.page-section.best > p{
  text-align: center;
  font-size: .9em;
}
.page-section.best  .card-container{
  min-width: 70%;
  height: 18em;
  border: .2px solid rgb(183, 182, 182);
  box-shadow: 1px 1px 3px rgb(195, 194, 194);
  box-shadow: rgba(60, 64, 67, .3) 0px 1px 2px 0px, rgba(60, 64, 67, .15) 0px 2px 6px 2px;
  margin: 0 .5em;
}
.page-section.best  .card-title{
  flex: 1;
}
.page-section.best  .card-add-btn{
  flex: .5;
}
.page-section.best img{
  height: 60%;
}
.page-section-title {
  padding: .6em 1em;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5em;
  border-bottom: .5px solid rgba(0, 0, 0, .6) ;
}

.page-subsection-title{
  border-bottom: 1px solid black;
  padding: .3em 0;
  font-size: 1.2em;
  font-weight: 500;
}
.page-subsection-title > span {
  padding: .3em 0;
  font-weight: 600;
}
.page-section-cards {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
}
.collection-card-container{
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 25vh;
  background: url('../images/products.jpg') no-repeat;
  background-size: cover;
}
.collection-card-name {
  position: absolute;
  bottom: .1em;
  right: 0;
  font-size: .6em;
  font-weight: 600;
  max-width: fit-content;
  background-color: white;
  padding: 1em;
  margin: 0 auto;
}
/*** End of CSS code for Page Sections  */

/*** Beginning of CSS code for Home Page  */

.main-content {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-bottom: 9em; */
  margin: 1em auto 0;

}
.image-container{
  position:relative;
  height: 300px;
  /* height: 50vh; */
  width:100%;
  margin:0 auto;
}
.homepage-img {
  width: 100%;
  height: 100%;
  position:absolute;
  left:0px;
  
}

/*** End of CSS code for Home Page  */

/*** Beginning of CSS code for Sign up page  */

.signup-container, .login-container {
  width: 100%;
  height: 100%;
  /* padding: 0 1.1em; */
}
.signup-title, .login-title {
  font-size: 1.5em;
  font-weight: bolder;
  display: block;
  margin: .8em 0 0.1em;
 text-align: center;
}
fieldset {
  border: none;
  width: 100%;
}
.signup-section, .login-section {
  width: 100%;
  margin: 1em 0;
  position: relative;
}
.signup-section > label, .login-section > label {
 font-size: 1.2em;
 font-weight: bold;
 /* margin: 1em 0; */
}
.signup-section > input, .login-section > input {
  display: block;
  width: calc(100% - (1em + .4px));
  /* height: 3em; */
  border: .2px solid rgb(9, 9, 9);
  font-size: 1.2em;
  padding: .4em .5em;
  margin: .5em 0;
}
.signup-section > input:focus, .login-section > input:focus{
  border: none;
  outline: .2px solid rgba(250, 131, 79, 1);
}
.visible {
  position: absolute;
  top: 2em;
  right: .5em;
  width: 1.5em;
  height: 1.5em;
}
.signup-container button, .login-container button {
  width: calc(100% - 2px);
  width: 100%;
  padding: .8em 1px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(250, 131, 79, .6);
  border: 0.2px solid rgba(250, 131, 79, .6);
  border: none;
  transition: all .2s;
}
.signup-container button:hover, .login-container button:hover{
  font-size: 1.4em;
  font-weight: 500;
}
.login-container {
  height: fit-content;
  height: 15em;
}

/*** End of CSS code for Sign up page  */

/*** Beginning of CSS code for AuthSection page  */
.auth-container {
  width: 90%;
  margin: 2em auto;
}
.auth-title-section{
  display: flex;
}
.auth-title{
  flex: 1;
  font-size: 1.2em;
  width: 100%;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.select-auth{
  border-bottom: 3px solid rgba(250, 131, 79, .6);
  /* border: .5px solid rgba(92,92,92,.6);
  border-bottom: px solid white; */
  font-size: 1.3em;
  font-weight: 600;
  animation: fadeInRight .5s;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(22px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.auth-form{
  margin: 1em 0 calc(100% - 10em );
}
.auth-form > p {
  padding: 1em 0;
}
.auth-form a:link {
  color: rgba(250, 131, 79, 1);
  text-decoration: none;
}

/*** End of CSS code for AuthSection page  */

/*** Beginning of CSS code for Appointment page */
  table {
    border-collapse: collapse;
    margin-top: 1em  ;
  }
  td {
    border: 1px solid black;
  }
  td{
   
    text-align: center;
  }
  .appointment-container {
    padding: 1em 0;
  }
  .appointment-container > section{
    font-size: .9em;
    line-height: 22px;
    font-weight: 300;
    margin: 1em 0;
  }
  .appointment-container > section:last-child{
    margin: 10em 0 0;
    border: 1px solid rgb(192, 192, 192);
    padding: 2em 1em;
    box-shadow: .2px .5px 5px;
  }
  .appointment-container > section:last-child > h3{
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
  }
  .appointment-icon {
    width: 5em;
    margin: 0 auto;
  }
  .appointment-icon > img {
    width: 100%;
  }
  .appointment-container > section > div{
    text-align: justify;
  }
  .appointment-container > p{
    margin: 1em 0 .5em;
  }
  .procedure-price{
    text-align: right;
    font-weight: 600;
  }
  .appointment-form {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    height: 20em;
  }
  .appointment-form > label{
    /* margin: .5em 0; */
    flex: 1;
    font-size: 1.2em;
  }
  .appointment-form > input, .appointment-form > select {
    border:.2px solid rgb(9, 9, 9) ;
    flex: 1;
    font-size: 1.1em;
    padding: 0 .5em;
    
  }
  .appointment-form > select {
    flex: 2;
  }
  .appointment-form > input:focus, .appointment-form > select:focus {
    border: none;
    outline: .2px solid rgba(250, 131, 79, 1);
  }
  .appointment-form option{
    /* height: 100%; */
    background-color: transparent;
    padding: .25em 0;
  }
  .appointment-form > button {
    flex: 1.5;
    font-size: 1.2em;
    margin: 1em 0;
    padding: .5em 0;
    background-color: rgba(250, 131, 79, .6);
    border: 0;
    color: white;
  }
/*** End of CSS code for Appointment page */


/*** Beginning of CSS code for Product page */

.product-container{
  width: 100%;
  padding: 2em 0 0;
  /* height: calc(100vh - 5em); */
}
.product-img-container, .product-details, .product-cart-details{
  width: 90%;
  margin: 2em auto .5em;
}
.product-img-container{
  width: 60%;
}
.product-img {
  width: 100%;
}
.product-quantity{
  display: flex;
}
.product-quantity > label {
  flex: 8;
  padding: .5em 0;
}
.product-quantity > input, .cart-item-price > input{
  flex: 1.5;
  width: 1.5em;
  border: 1px solid black;
  text-align: center;
}
.product-quantity > input:focus, .cart-item-price > input:focus{
  outline: 0;
  border: 1px solid rgba(250, 131, 79, .6);
}
.product-quantity > button, .cart-item-price > button{
  flex: 1;
  font-size: 1em;
}
.product-details {
  text-align: center;
}
.product-name {
  font-size: 1.2em;
  font-weight: 900;
}
.product-price {
  font-size: .8em;
  font-weight: 600;
  margin: .5em 0 .2em;
}
.product-cart-btn {
  width: 100%;
  margin: 2em auto 1em;
  
}

.product-cart-details  button{
  width: 100%;
  padding: .5em;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(250, 131, 79, .6);
  border-radius: 2px;
  transition: all .5s;
}
.product-cart-details  button:hover{
  background-color: rgba(250, 131, 79, .6);
}
.product-desc {
  height: 4.5em;
  font-size: .85em;
  padding: .2em 0;
  overflow: hidden;
  text-align: justify;
}
.more {
  font-size: .7em;
  color: rgb(90, 90, 250);
  text-align: right;
}
/*** End of CSS code for Product page */

/*** Beginning of CSS code for Blog page */
.blog-container {
  width: 100%;
  padding: 1em 0;
}
.blog-title {
  width: fit-content;
  margin: 0 auto 1em;
  padding: .2em 1em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: .2px solid rgba(0, 0, 0, .4);
}
.blog-img {
  width: 100%;
}
.blog-img > img {
  width: 100%;
}
.blog-text {
  margin: .5em 0;
  padding: 0 .5em;
  text-align: justify;
  text-indent: 2em;
  line-height: 32px;
  font-size: 1.1em;
}

.blog-posts-container {
  width: 100%;
  /* height: calc(100vh - 5em); */
  height: 100%;
  padding: 1em 0;
  
}
.blog-name {
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
.blog-post-container {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;
  padding: .5em;
  width: calc(100% - 1em);
  height: 9.5em;
  margin: 1em 0;
}
.blog-post-title {
  font-size: 1.2em;
  font-weight: 600;
  
}
.blog-post-date, .blog-date {
  font-size: .7em;
  color: rgba(0, 0, 0, .6);
}
.blog-date{
  text-align: right;
  color: black;
  padding: 0 .5em;
}
.blog-date > span {
  font-size: .9em ;
}
.blog-post-details {
  display: flex;
  width: 100%;
  height: calc(90% - 1.9em);
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}
.blog-post-details img{
  max-width: 30%;
  height: 6em;
  flex: 1;
  border-radius:50% ;
}
.blog-post-text {
  /* width: 100%; */
  height: 80%;
  max-width: 65%;
  overflow: hidden;
  flex: 5;
  font-size: .9em;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}
/*** End of CSS code for Blog page */

/*** Beginning of CSS code for Cart page */
.cart-container {
  width: 100%;
  height: 100%;
}
.cart-item-container{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  /* border-bottom: .2px solid rgba(0, 0, 0, .2); */
}
.cart-item-name {
  flex: 3;
}
.cart-item-price {
  flex: 1.5;
  text-align: center;
}
.cart-item-container > img{
  width: 5em;
  flex: .5;
}
.cart-item-price > input {
  font-size: 1em;
  padding: .2em;
}
.cart-item-price > button {
  width: 1.5em;
  padding: .2em;
  font-size: 1em;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(250, 131, 79, .6);
  border-radius: 2px;
}
.item-price {
margin-bottom: .5em;
}
.cart-total {
  margin-left: 20%;
  margin-bottom: 5em;
  width: 80%;
  height: 3em;
  border-top: .2px solid rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  line-height: 25px;
}
.cart-total-details {
  flex: 2;
 justify-self: end;
 text-align: right;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.cart-total-price {
  flex: 1;
  text-align: center;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.total {
  font-size: 1.2em;
  font-weight: 700;
}
.delete-item-icon > button {
  font-size: 1em;
  /* border: .1px solid rgba(97, 97, 97, 1); */
  border-radius: 2px;
  background-color: white;
  padding: .2em .5em;
  margin-top: .5em;
  background-color: rgba(250, 7, 7, 0.8);
  border: .1px solid rgba(250, 131, 79, .6);
}
.proceed-btn-container {
  margin: .5em auto;
  width: 90%;
}
.proceed-btn-container > button {
  width: 100%;
  padding: 1em .5em;
  border-radius: 8px;
  font-size: 1.1em;
  background-color: rgba(250, 131, 79, .6);
  color: white;
  border: none;
}
/*** End of CSS code for Cart page */

/*** Beginning of CSS code for Checkout page */

  .checkout-container {
    width: 100%;
    padding: 2em 0;
  }
  .checkout-review {
    margin: 1em 0;
  }
  .checkout-section, .checkout-section-payment{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .15em 0;
  }
  .checkout-section>span:last-child, .checkout-section-payment>span:last-child{
    text-align: right;
    flex: 2;
    color: rgba(0,0,0, .5)
  }
  .checkout-section-payment>span:first-child{
    flex: 1;
  }
  .payment-icon-container {
    flex: 2.5;
  }
  .checkout-section-payment>span:last-child{
    flex: .5;
  }
  .checkout-section>span:first-child{
    flex: 1;
    color: rgba(0,0,0, .5);
    text-align: left;

  }
  .checkout-section.heading {
    padding: .3em 0;
  }
  .checkout-section.heading a {
    text-decoration: none;
    font-size: .8em;
    color: rgb(90, 90, 250);
  }
  .checkout-section-title{
    font-size: 1.3em;
    font-weight: 600;
    color: black !important;
    flex: 4 !important;
  }
  .checkout-review>section {
    border: .5px solid rgba(97, 97, 97, 1);
    margin: 1em 0;
    padding: 1em .5em;
    border-radius: 10px;
  }
  .checkout-review>section:last-child {
    background-color: rgba(97, 97, 97, .2);
    border: 0;
  }
  .checkout-section.total>span {
    color: rgba(0,0,0, .8) !important;
  }
  .checkout-container>p {
    font-size: .9em;
    color: rgba(0,0,0, .6);
  }
  .checkout-container>button {
    width: 100%;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 1em 0;
    background-color: rgba(250, 131, 79, .6);
    color: white;
    border: none;
  }
/*** End of CSS code for Checkout page */

/*** Beginning of CSS code for Payment page */

.payment-container {
  width: 100%;
  height: calc(100vh - 13em);
  padding: 2em 0;
}
.payment-container>p {
  font-size: .9em;
  color: rgba(0,0,0, .6);
}
.payment-container > button {
  width: 100%;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 1em 0;
  /* position: absolute; */
  bottom: 8em;
  background-color: rgba(250, 131, 79, .6);
  color: white;
  border: none;
}
.payment-section {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
} 
.payment-section > span {
  font-size: 1.2em;
}
.right {
  text-align: right;
}
.payment-section input{
  cursor: pointer;
}
.credit-card-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  margin: 2em 0;
}
.credit-card-form > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.credit-card-form>div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.credit-card-form  label {
  font-size: 1.2em;
  font-weight: 700;
  margin: .3em 0;
}
.credit-card-form  input {
  font-size: 1.1em;
  padding: .5em;
  width: calc(100% - (1em + .4px));
  border: .2px solid black;
}
.credit-card-form  input:focus{
  outline: 0;
  border: 2px solid black;
}
input[type=radio]{
  margin: .5em 1em .5em 0;
  display: grid;
  place-content: center;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 50%;
}
input[type=radio]::before{
  content: '';
  width: .65em;
  height: .65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: black;
  box-shadow: inset 1em 1em black;
}
input[type=radio]:checked::before{
  transform: scale(1);
}
.payment-icon {
  width: 1.8em;
  height: 1.8em;
  margin: 0 .2em;
}
/*** End of CSS code for Payment page */

/*** Beginning of CSS code for Account page  */

.account-container {
  width: 100%;
  padding: 2em 0;
}
.account-heading {
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}
.account-heading > h2{
  margin-bottom: .7em;
}
.account-details {
  margin: 2em 0;
  line-height: 25px;
  background-color: white;
}
.account-details>div {
  margin: 1em 0;
}
.account-details>div>p:first-child{
  font-weight: 700;
  text-transform: uppercase;
}

/*** End of CSS code for Account page  */

/*** Beginning of CSS code for Footer  */

.footer-container {
  position: absolute;
  bottom: -15em;
  width: calc(100% - 2.2em);
  height: 7em;
  background-color: rgba(225, 225, 225, .5);
  padding: 1em 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-socials {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}
.footer-title {
  flex: 1;
  font-size: 1em;
  font-weight: bold;
  /* padding-bottom: .8em; */
}
.footer-brief {
  flex: 3;
  font-size: .8em;
}
.footer-socials-icons {
  flex: 1;
}
.footer-bookmarks {
  flex: 1.2;
  font-size: .9em;
}
.footer-page-links > li {
  list-style-type: none;
}
.footer-page-links a {
  text-decoration: none;
}
.footer-newsletter {
  flex: 2;
}
#footer-email {
  width: calc(100% - (.4px + .6em));
  height: 3em;
  border: .2px solid rgba(0, 0, 0, .4);
  border-radius: 6px;
  padding: 0 .3em;
  margin-bottom: .2em;
  font-size: .9em;
}
#footer-email:focus{
  border: none;
  outline: .2px solid rgba(250, 131, 79, 1);
}
#footer-submit {
  width: calc(100% - .4px);
  height: 3em;
  border: .2px solid rgba(0, 0, 0, .4);
  border-radius: 6px;
  background-color: rgba(250, 131, 79, .6);
  font-size: .9em;
  color: white;
  
}
/*** End of CSS code for Footer  */